.header{
    height: 100px;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 50px;
}
.header-home{
    color: rgba(0, 0, 0, 0.88);
    text-decoration: none;
    font-weight: 600;
}

.sendinfo-textarea{
    resize: none !important;
}
.sendinfo-form{
   
    max-width:400px;
    margin:50px auto;
}
.posts-form{
    padding: 0 2rem;
    max-width: 1250px;
    margin: 0 auto;
}